/* Autocomplete.css */

.autocomplete-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  background-color: white; /* Ensure background color is white */
  z-index: 1; /* Ensure the dropdown appears above other elements */
}

.autocomplete-item {
  display: flex;
  flex-direction: column; /* Change to column to stack elements */
  padding: 8px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #f0f0f0;
}

.autocomplete-item-header {
  display: flex;
  justify-content: space-between; /* Space between for title and genre */
  width: 100%;
}

.autocomplete-rating {
  display: flex;
}

.star {
  color: #e0e0e0;
}

.star.filled {
  color: #ffd700;
}

@media (max-width: 768px) {
  .autocomplete-list {
    max-height: 300px; /* Adjust height for mobile view */
    width: calc(100% - 20px); /* Adjust width for mobile view */
    max-width: 95vw;
  }

  .autocomplete-item-header {
    flex-direction: column; /* Stack title and genre vertically on mobile */
    align-items: flex-start;
  }

  .autocomplete-genre {
    margin-top: 4px; /* Add some space between title and genre */
  }

  .autocomplete-rating {
    margin-top: 4px; /* Add some space between genre and rating */
  }
}
