/* RatingFilter.css */

.react-select__control {
  width: 113px; /* Fixed width */
  height: 48px;
  font-size: 14px;
  background-color: white; /* Ensure the control background is white */
  border: 1px solid #ccc; /* Add border */
  font-family: "DM Sans"; /* Set font family */
  font-weight: 500; /* Set font weight */
  letter-spacing: -0.2px; /* Set letter spacing */
  box-shadow: none; /* Remove default shadow */
}

.react-select__control--is-focused {
  width: 113px; /* Fixed width on focus */
}
/* controls the drop down menu */
.react-select__menu {
  width: 239px; /* Dropdown width */
  height: fit-content !important;

  background-color: white; /* Ensure the dropdown background is white */
  border: 1px solid #ccc; /* Ensure the border follows the content */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  z-index: 9999; /* Ensure the dropdown is on top */
}

.option-container {
  display: flex;
  align-items: center;
  font-size: 14px; /* Adjust font size to 14px */
}

.option-container input[type="checkbox"] {
  margin-right: 4px; /* Reduce margin to make it more compact */
}

.option-container label {
  white-space: nowrap; /* Ensure labels are not broken into multiple lines */
  line-height: 0px;
}

.react-select__multi-value {
  background-color: white; /* Ensure the background of selected items is white */
  display: flex;
  align-items: center;
}

.react-select__multi-value__label {
  color: #000; /* Ensure the text color of selected items is black */
  padding: 0 4px; /* Adjust padding to fit content better */
  white-space: nowrap; /* Prevent text from breaking into multiple lines */

  text-overflow: ""; /* Show ellipsis for overflow */
  min-width: 91% !important;
}

.react-select__multi-value__remove {
  color: #000; /* Ensure the remove icon color is black */
  cursor: pointer;
  display: flex; /* Ensure the remove icon is displayed properly */
  align-items: center; /* Align the remove icon properly */
}

.react-select__multi-value__remove:hover {
  background-color: #e0e0e0; /* Hover background color for the remove icon */
  color: #000;
}

.dropdown-chevron {
  width: 14.14px;
  height: 8.49px;
  margin-top: 7.76px;
  margin-left: 4.93px;
}
.star {
  font-size: 16px !important;
  margin: 0;
  padding: 0;
}

/* mobile styles */

/* Responsive adjustments */
/* Responsive adjustments */
@media (max-width: 768px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-container .react-select__control {
    width: 100%; /* Make the dropdowns full width */
    margin-bottom: 10px; /* Add some space between the elements */
  }

  .search-container {
    width: 100%;
    margin-bottom: 10px; /* Add some space between the elements */
  }

  .search-container input {
    width: 100%; /* Make the search input full width */
  }
}

@media (max-width: 480px) {
  .search-container input {
    width: 100%;
    height: 40px; /* Adjust the height for mobile devices */
  }
}
